---
layout: default
title: Fotos
---
<section class="fotos">
    <div class="container p-3 p-lg-5">
        <div class="bd-example">
          <div id="carouselFotos" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for foto in site.data.fotos %}
                  <li data-target="#carouselFotos" data-slide-to="{{ foto.index }}" {% if foto.first %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for foto in site.data.fotos %}
              <div class="carousel-item {% if foto.first %} 'active' {% endif %}">
                <img src="{{ foto.url }}" class="figure-img img-fluid rounded" alt="{{ foto.titulo }}">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ foto.titulo }}</h5>
                  <p>{{ foto.legenda }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselFotos" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselFotos" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>
        </div>
    </div>
</section>