/*@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";*/

$orange: #e56a20;
$black: #000;

$theme-colors: (
  "primary": $orange,
  "dark": $black
);

@import "bootstrap/bootstrap";
@import "style";