---
layout: default
---
<section class="album">
    <div class="container py-3 py-lg-5 px-lg-0">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg text-center">
                <img src="{{ site.baseurl }}{{ page.capa }}" alt="{{ page.title }}" class="page-capa mb-4" />
                <h1 class="h3">{{ page.titulo }}</h1>
                <h2 class="h5">{{ page.artista }}</h2>
                <p>{{ page.ano }}</p>
            </div>
            <div class="col-md-8">
                <div id="playlist" class="faixas">
                    {% for faixa in page.faixas %}
                        {% if faixa.subfaixas != null %}
                            {% if faixa.nome != null %}
                            <h5 class="h6 font-weight-bold my-2 text-uppercase">{{ faixa.nome }}</h5>
                            {% endif %}
                            {% for subfaixa in faixa.subfaixas %}
                                <div class="d-flex p-2">
                                    <!--<div class="text-center">
                                        {% if subfaixa.url != null %}
                                            <a role="button" href="#faixa{{ subfaixa.num }}" data-toggle="player" data-target="#faixa{{ subfaixa.num }}"> 
                                                <span class="icon icon-play"></span>
                                                <span class="sr-only">Play/Pause</span>
                                            </a>
                                            <audio preload="none" id="faixa{{ subfaixa.num }}" class="audio-player">
                                                <source src="{{ site.baseurl }}{{ subfaixa.url }}" type="audio/mpeg"></source>
                                            </audio>
                                            <audio preload="none" type="audio/mpeg" controls controlsList="nodownload" class="audio-player" id="faixa{{ subfaixa.num }}" src="{{ site.baseurl }}{{ subfaixa.url }}"></audio>
                                        {% endif %}
                                    </div>-->
                                    <div class="mx-3">{{ subfaixa.num }}</div>
                                    <div class="flex-grow-1 mr-3">
                                        {{ subfaixa.nome }}
                                    </div>
                                    <div class="ml-auto">{{ subfaixa.tempo }}</div>
                                </div>
                            {% endfor %}
                            <div class="py-2"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>