---
layout: default
---
<section class="section album">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg text-center">
                <img src="{{ site.baseurl }}{{ page.capa }}" alt="{{ page.title }}" class="page-capa mb-4" />
                <h1 class="h3">{{ page.titulo }}</h1>
                <h2 class="h5">{{ page.artista }}</h2>
                <p>{{ page.ano }}</p>
            </div>
            <div class="col-md-8">
                <div id="playlist" class="faixas">
                    {% for faixa in page.faixas %}
                        {% if faixa.subfaixas != null %}
                            {% if faixa.nome != null %}
                            <h5 class="h6 font-weight-bold my-2 text-uppercase">{{ faixa.nome }}</h5>
                            {% endif %}
                            {% for subfaixa in faixa.subfaixas %}
                            <div class="subfaixa d-flex py-2">
                                {% if subfaixa.url != null %}
                                <div>
                                    <a role="button" href="#faixa{{subfaixa.num}}" data-toggle="play" data-target="#faixa{{subfaixa.num}}">
                                        <span class="icon icon-play"></span>
                                        <span class="sr-only">Play/Pause</span>
                                    </a>
                                </div>
                                <div  class="mx-2">
                                    <a class="text-decoration-none" role="button" href="#faixa{{ subfaixa.num }}" data-toggle="play" data-target="#faixa{{ subfaixa.num }}">
                                        {{ subfaixa.num }}
                                    </a>
                                </div>
                                <div class="flex-grow-1 mr-3">
                                    <a class="text-decoration-none" role="button" href="#faixa{{ subfaixa.num }}" data-toggle="play" data-target="#faixa{{ subfaixa.num }}">
                                        {{ subfaixa.nome }}
                                    </a>
                                </div>
                                <div class="ml-auto">{{ subfaixa.tempo }}</div>
                                <audio type="audio/mpeg" class="audio-player" id="faixa{{subfaixa.num}}" src="{{ site.baseurl }}{{ subfaixa.url }}"></audio>
                                {% else %}
                                <div class="ml-4 mr-2">{{ subfaixa.num }}</div>
                                <div class="flex-grow-1 mr-3">
                                    {{ subfaixa.nome }}
                                </div>
                                <div class="ml-auto">{{ subfaixa.tempo }}</div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <div class="py-2"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>