<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site do violonista e compositor Luis Carlos Barbieri">
	<meta name="keywords" content="luis carlos barbieri, violonista, compositor, rio de janeiro, fred schneiter, duo barbieri-schneiter">
	<meta name="author" content="{{ site.author.name }}">

	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/icons/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap" rel="stylesheet">

    <title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.title }}</title>
</head>
<body>
	<header class="masthead">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navbar-main">
			<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="nav-brand mx-auto d-md-none" href="{{ site.baseurl }}/">
				<img src="{{ site.baseurl }}/assets/images/logo-luis-carlos-barbieri.png" height="30" class="mr-5" alt="Logo Luis Carlos Barbieri" />
			</a>
			<div class="collapse navbar-collapse" id="mainNav">
				<div class="container">
					{% include navigation.html %}
				</div>
			</div>
		</nav>
	</header>
	
	<div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

	<footer class="bg-light text-white py-4 mt-5">
        <div class="container">
            <div class="text-center mb-2 pt-2">
                <img src="{{ site.baseurl }}/assets/images/logo-luis-carlos-barbieri-grayscale.png" height="50" />
                <p class="text-dark small pt-2">Copyright © 2018 Luis Carlos Barbieri</p>
            </div>
        </div>
    </footer>

	<script src="{{ site.baseurl }}/assets/js/jquery.min.js" type="text/javascript"></script>
	<script src="{{ site.baseurl }}/assets/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js" type="text/javascript"></script>
</body>
</html>    
